

/*overlay image*/
.cont{
    position: relative;
    width: 50%;
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    margin:2%;
    
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: chocolate;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    cursor:pointer
  }
  
  
  .cont:hover .overlay {
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
  }
  /*end of overlay image*/
  /* portfolio gallery*/

  * {
  box-sizing: border-box;
}
/* Center website */

h1 {
  font-size: 50px;
  word-break: break-all;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
   padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  
  cursor: pointer;
}

.btn:hover {
  background-color: chocolate;
}

.btn.active {
  background-color: chocolate;
  color: white;
}
  
    
